<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Edit Ride</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/home" class="logo">
                    <img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Uniride</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="User">
                            <span class="status online"></span>
                        </span>
                        <span>User</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user_profile">My Profile</a>
                        <a class="dropdown-item" href="/user/edit_profile">Edit Profile</a>
                        <a class="dropdown-item" href="/user">Home Page</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/user_profile">My Profile</a>
                    <a class="dropdown-item" href="/user/edit_profile">Edit Profile</a>
                    <a class="dropdown-item" href="/user">Home Page</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/user"><i class="fa fa-dashboard"></i> <span>Home Page</span></a>
                        </li>
                        <li>
                            <a href="/user/my_rides"><i class="fa fa-calendar"></i> <span>Ride</span></a>
                        </li>
                        <li>
                            <a href="/user_profile"><i class="fa fa-user"></i> <span>My Profile</span></a>
                        </li>
                        <li>
                            <a href="/user/edit_profile"><i class="fa fa-edit"></i> <span>Edit Profile</span></a>
                        </li>
                        <li>
                            <a href="/add_driver"><i class="fa fa-edit"></i> <span>Become a Driver</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <h4 class="page-title">Edit Ride</h4>
                    </div>
                </div>
                <div class="card-box">
                    <form action="/user/update_ride/<%= booking.id %>" method="POST">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" value="<%= booking.name %>" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" value="<%= booking.email %>" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" name="phone" value="<%= booking.phone %>" required>
                        </div>
                        <div class="form-group">
                            <label>Service</label>
                            <select class="form-control" name="service" required>
                                <option value="2" <%= booking.service === 'Regular' ? 'selected' : '' %>>Regular Ride</option>
                                <option value="3" <%= booking.service === 'Carpool' ? 'selected' : '' %>>Carpool</option>
                                <option value="4" <%= booking.service === 'Express' ? 'selected' : '' %>>Express Ride</option>
                                <option value="5" <%= booking.service === 'Wheelchair Accessible' ? 'selected' : '' %>>Wheelchair Accessible</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Pickup Location</label>
                            <select class="form-control" name="pickupLocation" required>
                                <option value="1" <%= booking.pickup_location === 'Nairobi CBD' ? 'selected' : '' %>>Nairobi CBD</option>
                                <option value="2" <%= booking.pickup_location === 'Westlands' ? 'selected' : '' %>>Westlands</option>
                                <option value="3" <%= booking.pickup_location === 'Kilimani' ? 'selected' : '' %>>Kilimani</option>
                                <option value="4" <%= booking.pickup_location === 'Lavington' ? 'selected' : '' %>>Lavington</option>
                                <option value="5" <%= booking.pickup_location === 'Karen' ? 'selected' : '' %>>Karen</option>
                                <option value="6" <%= booking.pickup_location === 'Ngong Road' ? 'selected' : '' %>>Ngong Road</option>
                                <option value="7" <%= booking.pickup_location === 'Parklands' ? 'selected' : '' %>>Parklands</option>
                                <option value="8" <%= booking.pickup_location === 'Muthaiga' ? 'selected' : '' %>>Muthaiga</option>
                                <option value="9" <%= booking.pickup_location === 'Roysambu' ? 'selected' : '' %>>Roysambu</option>
                                <option value="10" <%= booking.pickup_location === 'South B' ? 'selected' : '' %>>South B</option>
                                <option value="11" <%= booking.pickup_location === 'South C' ? 'selected' : '' %>>South C</option>
                                <option value="12" <%= booking.pickup_location === 'Langata' ? 'selected' : '' %>>Langata</option>
                                <option value="13" <%= booking.pickup_location === 'Runda' ? 'selected' : '' %>>Runda</option>
                                <option value="14" <%= booking.pickup_location === 'Gigiri' ? 'selected' : '' %>>Gigiri</option>
                                <option value="15" <%= booking.pickup_location === 'Embakasi' ? 'selected' : '' %>>Embakasi</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dropoff Location</label>
                            <select class="form-control" name="dropoffLocation" required>
                                <option value="1" <%= booking.dropoff_location === 'University of Nairobi' ? 'selected' : '' %>>University of Nairobi</option>
                                <option value="2" <%= booking.dropoff_location === 'Kenyatta University' ? 'selected' : '' %>>Kenyatta University</option>
                                <option value="3" <%= booking.dropoff_location === 'Strathmore University' ? 'selected' : '' %>>Strathmore University</option>
                                <option value="4" <%= booking.dropoff_location === 'USIU' ? 'selected' : '' %>>USIU</option>
                                <option value="5" <%= booking.dropoff_location === 'JKUAT' ? 'selected' : '' %>>JKUAT</option>
                                <option value="6" <%= booking.dropoff_location === 'Daystar University' ? 'selected' : '' %>>Daystar University</option>
                                <option value="7" <%= booking.dropoff_location === 'Riara University' ? 'selected' : '' %>>Riara University</option>
                                <option value="8" <%= booking.dropoff_location === 'Zetech University' ? 'selected' : '' %>>Zetech University</option>
                                <option value="9" <%= booking.dropoff_location === 'Catholic University' ? 'selected' : '' %>>Catholic University</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Pickup Time</label>
                            <select class="form-control" name="pickupTime" required>
                                <option value="7:00 AM" <%= booking.pickup_time === '7:00 AM' ? 'selected' : '' %>>7:00 AM</option>
                                <option value="7:30 AM" <%= booking.pickup_time === '7:30 AM' ? 'selected' : '' %>>7:30 AM</option>
                                <option value="8:00 AM" <%= booking.pickup_time === '8:00 AM' ? 'selected' : '' %>>8:00 AM</option>
                                <option value="8:30 AM" <%= booking.pickup_time === '8:30 AM' ? 'selected' : '' %>>8:30 AM</option>
                                <option value="9:00 AM" <%= booking.pickup_time === '9:00 AM' ? 'selected' : '' %>>9:00 AM</option>
                                <option value="9:30 AM" <%= booking.pickup_time === '9:30 AM' ? 'selected' : '' %>>9:30 AM</option>
                                <option value="10:00 AM" <%= booking.pickup_time === '10:00 AM' ? 'selected' : '' %>>10:00 AM</option>
                                <option value="10:30 AM" <%= booking.pickup_time === '10:30 AM' ? 'selected' : '' %>>10:30 AM</option>
                                <option value="11:00 AM" <%= booking.pickup_time === '11:00 AM' ? 'selected' : '' %>>11:00 AM</option>
                                <option value="11:30 AM" <%= booking.pickup_time === '11:30 AM' ? 'selected' : '' %>>11:30 AM</option>
                                <option value="12:00 PM" <%= booking.pickup_time === '12:00 PM' ? 'selected' : '' %>>12:00 PM</option>
                                <option value="12:30 PM" <%= booking.pickup_time === '12:30 PM' ? 'selected' : '' %>>12:30 PM</option>
                                <option value="1:00 PM" <%= booking.pickup_time === '1:00 PM' ? 'selected' : '' %>>1:00 PM</option>
                                <option value="1:30 PM" <%= booking.pickup_time === '1:30 PM' ? 'selected' : '' %>>1:30 PM</option>
                                <option value="2:00 PM" <%= booking.pickup_time === '2:00 PM' ? 'selected' : '' %>>2:00 PM</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>University Arrival Time</label>
                            <select class="form-control" name="universityArrivalTime" required>
                                <option value="8:00 AM" <%= booking.university_arrival_time === '8:00 AM' ? 'selected' : '' %>>8:00 AM</option>
                                <option value="9:00 AM" <%= booking.university_arrival_time === '9:00 AM' ? 'selected' : '' %>>9:00 AM</option>
                                <option value="10:00 AM" <%= booking.university_arrival_time === '10:00 AM' ? 'selected' : '' %>>10:00 AM</option>
                                <option value="11:00 AM" <%= booking.university_arrival_time === '11:00 AM' ? 'selected' : '' %>>11:00 AM</option>
                                <option value="12:00 PM" <%= booking.university_arrival_time === '12:00 PM' ? 'selected' : '' %>>12:00 PM</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dropoff Time</label>
                            <select class="form-control" name="dropoffTime" required>
                                <option value="2:00 PM" <%= booking.dropoff_time === '2:00 PM' ? 'selected' : '' %>>2:00 PM</option>
                                <option value="2:30 PM" <%= booking.dropoff_time === '2:30 PM' ? 'selected' : '' %>>2:30 PM</option>
                                <option value="3:00 PM" <%= booking.dropoff_time === '3:00 PM' ? 'selected' : '' %>>3:00 PM</option>
                                <option value="3:30 PM" <%= booking.dropoff_time === '3:30 PM' ? 'selected' : '' %>>3:30 PM</option>
                                <option value="4:00 PM" <%= booking.dropoff_time === '4:00 PM' ? 'selected' : '' %>>4:00 PM</option>
                                <option value="4:30 PM" <%= booking.dropoff_time === '4:30 PM' ? 'selected' : '' %>>4:30 PM</option>
                                <option value="5:00 PM" <%= booking.dropoff_time === '5:00 PM' ? 'selected' : '' %>>5:00 PM</option>
                                <option value="5:30 PM" <%= booking.dropoff_time === '5:30 PM' ? 'selected' : '' %>>5:30 PM</option>
                                <option value="6:00 PM" <%= booking.dropoff_time === '6:00 PM' ? 'selected' : '' %>>6:00 PM</option>
                                <option value="6:30 PM" <%= booking.dropoff_time === '6:30 PM' ? 'selected' : '' %>>6:30 PM</option>
                                <option value="7:00 PM" <%= booking.dropoff_time === '7:00 PM' ? 'selected' : '' %>>7:00 PM</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Days of the Week</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Monday" name="days" value="Monday" <%= booking.days_of_week.includes('Monday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Monday">Monday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Tuesday" name="days" value="Tuesday" <%= booking.days_of_week.includes('Tuesday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Tuesday">Tuesday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Wednesday" name="days" value="Wednesday" <%= booking.days_of_week.includes('Wednesday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Wednesday">Wednesday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Thursday" name="days" value="Thursday" <%= booking.days_of_week.includes('Thursday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Thursday">Thursday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Friday" name="days" value="Friday" <%= booking.days_of_week.includes('Friday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Friday">Friday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Saturday" name="days" value="Saturday" <%= booking.days_of_week.includes('Saturday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Saturday">Saturday</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Sunday" name="days" value="Sunday" <%= booking.days_of_week.includes('Sunday') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="Sunday">Sunday</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Note</label>
                            <textarea class="form-control" name="note" rows="4"><%= booking.note %></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Update Ride</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>
