<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Uniride</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
    <script type='importmap'>
        {
          "imports": {
            "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.15",
            "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.15"
          }
        }
      </script>
      <script type='module'>
        import { Calendar } from '@fullcalendar/core'
        import dayGridPlugin from '@fullcalendar/daygrid'
  
        document.addEventListener('DOMContentLoaded', function() {
          const calendarEl = document.getElementById('calendar')
          const calendar = new Calendar(calendarEl, {
            plugins: [dayGridPlugin],
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            }
          })
          calendar.render()
        })
      </script>
    </head>
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/home" class="logo">
                    <img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Uniride</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="John Doe" src="/assets/img/user.jpg" class="img-fluid">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Ride booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">V</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Ride booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">L</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Driver availability module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">G</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Passenger and Driver communication</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">V</span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/home/profile">My Profile</a>
                        <a class="dropdown-item" href="/user/edit_profile">Edit Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/home/profile">My Profile</a>
                    <a class="dropdown-item" href="/user/edit_profile">Edit Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/driver"><i class="fa fa-car"></i> <span>Driver</span></a>
                        </li>
                        <li>
                            <a href="/ride"><i class="fa fa-road"></i> <span>Ride</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-users"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/employee">Employees List</a></li>
                                <li><a href="/employee/leave">Leaves</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-book"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/receipt"> Employee Salary </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Email</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/compose">Compose Mail</a></li>
                                <li><a href="/inbox">Inbox</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-car" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h3><%= driver %></h3>
								<span class="widget-title1">Driver <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-road"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3><%=ride%></h3>
                                <span class="widget-title2">Ride<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-title">
                                    <h4>Total Users</h4>
                                </div>
                                <canvas id="driverRidePieChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-title">
                                    <h4>Passenger Total</h4>
                                </div>
                                <canvas id="passengerTotalLineChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div> -->
                </div>
                <br>
                <div id='calendar'></div>
                <br>
                <div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Upcoming Ride</h4> <a href="/ride" class="btn btn-primary float-right">View all</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Passenger Name</th>
												<th>Driver Name</th>
												<th>Timing</th>

											</tr>
										</thead>
										<tbody>
                                            <% for (var i = 0; i < applist.length; i++){ %>
											<tr>
												<td style="min-width: 200px;">
													<h5 class="time-title p-0">Passenger Name</h5>
													<p><%= applist[i].passenger_name%></p>
												</td>                 
												<td>
													<h5 class="time-title p-0">Ride With</h5>
													<p><%= applist[i].driver_name%></p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p><%= applist[i].time%></p>
												</td>
												<td class="text-right">
													<a href="/ride" class="btn btn-outline-primary take-btn">Take up</a>
                                                </td>
                                                <% } %>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0">Driver</h4>
							</div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <% for (var i = 0; i < driverlist.length; i++){ %>
                                    <li>
                                        
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis"><%= driverlist[i].first_name%> <%= driverlist[i].last_name%></span>
                                                
                                                <span class="contact-date">MBBS, MD</span>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="card-footer text-center bg-white">
                                <a href="/driver" class="text-muted">View all Drivers</a>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/Chart.bundle.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/app.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            async function fetchData(url) {
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    console.log('Fetched data from', url, ':', data); // Debug statement
                    return data;
                } catch (error) {
                    console.error('Error fetching data:', error);
                    return null;
                }
            }
    
            // async function updateDashboard() {
            //     const driverData = await fetchData('/api/getDriverCount');
            //     const rideData = await fetchData('/api/getRideCount');
            //     const upcomingRides = await fetchData('/api/getUpcomingRides');
            //     const driverList = await fetchData('/api/getDrivers');
    
            //     if (driverData && rideData && upcomingRides && driverList) {
            //         document.getElementById('driver-count').innerText = driverData.count;
            //         document.getElementById('ride-count').innerText = rideData.count;
            //         document.getElementById('upcoming-ride-count').innerText = upcomingRides.length;
    
            //         const upcomingRidesList = document.getElementById('upcoming-rides-list');
            //         upcomingRidesList.innerHTML = '';
            //         upcomingRides.forEach(ride => {
            //             const rideElement = `
            //                 <tr>
            //                     <td style="min-width: 200px;">
            //                         <h5 class="time-title p-0">Passenger Name</h5>
            //                         <p>${ride.passenger_name}</p>
            //                     </td>
            //                     <td>
            //                         <h5 class="time-title p-0">Ride With</h5>
            //                         <p>${ride.driver_name}</p>
            //                     </td>
            //                     <td>
            //                         <h5 class="time-title p-0">Timing</h5>
            //                         <p>${ride.time}</p>
            //                     </td>
            //                     <td class="text-right">
            //                         <a href="/ride" class="btn btn-outline-primary take-btn">Take up</a>
            //                     </td>
            //                 </tr>
            //             `;
            //             upcomingRidesList.innerHTML += rideElement;
            //         });
    
            //         const driverListElement = document.getElementById('driver-list');
            //         driverListElement.innerHTML = '';
            //         driverList.forEach(driver => {
            //             const driverElement = `
            //                 <li>
            //                     <div class="contact-info">
            //                         <span class="contact-name text-ellipsis">${driver.first_name} ${driver.last_name}</span>
            //                         <span class="contact-date">8ight</span>
            //                     </div>
            //                 </li>
            //             `;
            //             driverListElement.innerHTML += driverElement;
            //         });
            //     }
            // }
    
            async function updateDashboard() {
    const driverData = await fetchData('/api/getDriverCount');
    const rideData = await fetchData('/api/getRideCount');
    const upcomingRides = await fetchData('/api/getUpcomingRides');
    const driverList = await fetchData('/api/getDrivers');

    if (driverData && rideData && upcomingRides && driverList) {
        document.getElementById('driver-count').innerText = driverData.count;
        document.getElementById('ride-count').innerText = rideData.count;
        document.getElementById('upcoming-ride-count').innerText = upcomingRides.length;

        const upcomingRidesList = document.getElementById('upcoming-rides-list');
        upcomingRidesList.innerHTML = '';
        upcomingRides.forEach(ride => {
            const rideElement = `
                <tr>
                    <td style="min-width: 200px;">
                        <h5 class="time-title p-0">Passenger Name</h5>
                        <p>${ride.passenger_name}</p>
                    </td>
                    <td>
                        <h5 class="time-title p-0">Ride With</h5>
                        <p>${ride.driver_name}</p>
                    </td>
                    <td>
                        <h5 class="time-title p-0">Timing</h5>
                        <p>${ride.time}</p>
                    </td>
                    <td class="text-right">
                        <a href="/ride" class="btn btn-outline-primary take-btn">Take up</a>
                    </td>
                </tr>
            `;
            upcomingRidesList.innerHTML += rideElement;
        });

        const driverListElement = document.getElementById('driver-list');
        driverListElement.innerHTML = '';
        driverList.forEach(driver => {
            const driverElement = `
                <li>
                    <div class="contact-info">
                        <span class="contact-name text-ellipsis">${driver.first_name} ${driver.last_name}</span>
                        <span class="contact-date">8ight</span>
                    </div>
                </li>
            `;
            driverListElement.innerHTML += driverElement;
        });

        // Get the counts from the DOM
        const driverCount = parseInt(document.getElementById('driver-count').innerText, 10);
        const rideCount = parseInt(document.getElementById('ride-count').innerText, 10);

        renderCharts(driverCount, rideCount);
    }
}


            async function renderCharts() {
                const driverRideData = await fetchData('/api/getCounts');
    
                if (driverRideData) {
                    const driverRideChartData = {
                        labels: ['Drivers', 'Rides'],
                        datasets: [{
                            label: 'Count',
                            data: [driverRideData.drivers, driverRideData.rides],
                            backgroundColor: ['#3498DB', '#2ECC71'], // Blue for drivers, green for rides
                        }]
                    };
    
                    const driverRideCtx = document.getElementById('driverRidePieChart').getContext('2d');
                    new Chart(driverRideCtx, {
                        type: 'pie',
                        data: driverRideChartData,
                        options: {
                            plugins: {
                                legend: {
                                    onHover: handleHover,
                                    onLeave: handleLeave
                                }
                            }
                        }
                    });
                }
            }
    
            function handleHover(evt, item, legend) {
                const chart = legend.chart;
                const index = item.index;
                chart.data.datasets[0].backgroundColor = chart.data.datasets[0].backgroundColor.map((color, i) => {
                    return i === index ? color : color + '4D'; // Add transparency to other segments
                });
                chart.update();
            }
    
            function handleLeave(evt, item, legend) {
                const chart = legend.chart;
                chart.data.datasets[0].backgroundColor = chart.data.datasets[0].backgroundColor.map((color) => {
                    return color.length === 9 ? color.slice(0, -2) : color; // Remove transparency
                });
                chart.update();
            }
    
            await updateDashboard();
            await renderCharts();
        });
    </script>
</body>

</html>
